<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Registro De Reservas</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="reservaForm" (ngSubmit)="guardar()">
        <div class="form-group">
          <label for="profesor">Profesor</label>
          <select
            class="form-control"
            formControlName="idProfesor"
            id="idProfesor"
          >
            <option value="" disabled>Selecciona una opción</option>
            <option [value]="item.documento" *ngFor="let item of profesores">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="salon|">Salones</label>
          <select
            class="form-control"
            formControlName="codigoSalon"
            id="idSalon"
          >
            <option value="" disabled>Selecciona una opción</option>
            <option [value]="item.codigoSalon" *ngFor="let item of salones">
              {{ item.codigoSalon }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="fecha">Seleccionar Fecha</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            [min]="minDate"
            formControlName="fecha"
          />
        </div>

        <div class="form-group">
          <label for="horaInicio">Hora de Inicio</label>
          <input
            type="time"
            class="form-control"
            id="horaInicio"
            formControlName="horaInicio"
            [min]="horaInicioMin"
            [max]="horaInicioMax"
            (change)="validarHoras()"
          />
        </div>

        <div class="form-group">
          <label for="horaFin">Hora de Fin</label>
          <input
            type="time"
            class="form-control"
            id="horaFin"
            formControlName="horaFin"
            [min]="horaFinMin"
            [max]="horaFinMax"
            (change)="validarHoras()"
          />
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>Reservas registrados</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Profesor</th>
        <th>Salon</th>
        <th>Fecha</th>
        <th>Hora inicio</th>
        <th>Hora fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reservas">
        <td>{{ item.id }}</td>
        <td>{{ item.idProfesor }}</td>
        <td>{{ item.codigoSalon }}</td>
        <td>{{ item.fecha }}</td>
        <td>{{ item.horaInicio }}</td>
        <td>{{ item.horaFin }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editar(item)">
            Editar
          </button>
          <button
            type=" button"
            class="btn btn-danger"
            (click)="eliminar(item)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
