<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Registro De Infracciones</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="infraccionForm" (ngSubmit)="guardar()">
        <div class="form-group">
          <label for="placa">Placa Del Vehiculo</label>
          <input
            type="text"
            class="form-control"
            formControlName="placa"
            id="placa"
            placeholder="Ingresa placa del vehiculo"
            maxlength="6"
            pattern="^[A-Za-z0-9]+$"
            oninput="this.value = this.value.replace(/[^A-Za-z0-9]/g, '')"
          />
          <small
            class="text-danger"
            *ngIf="
              infraccionForm.get('placa')?.hasError('required') &&
              infraccionForm.get('placa')?.touched
            "
          >
            La placa es obligatoria.
          </small>
        </div>
        <div class="form-group">
          <label for="fecha">Fecha De Infracción</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            formControlName="fecha"
            min="2000-01-01"
            [max]="maxFecha"
          />
          <small
            class="text-danger"
            *ngIf="
              infraccionForm.get('fecha')?.hasError('required') &&
              infraccionForm.get('fecha')?.touched
            "
          >
            La fecha de la infracción es obligatoria.
          </small>
        </div>
        <div class="form-group">
          <label for="accionada">Quien Impone La Infracción </label>
          <select
            class="form-control"
            formControlName="accionada"
            id="accionada"
          >
            <option value="">Selecciona una opción</option>
            <option value="Agente">Agente</option>
            <option value="Camara">Camara</option>
          </select>
          <small
            class="text-danger"
            *ngIf="
              infraccionForm.get('accionada')?.hasError('required') &&
              infraccionForm.get('accionada')?.touched
            "
          >
            El campo es obligatorio.
          </small>
        </div>
        <p></p>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="infraccionForm.invalid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div *ngIf="mensajeI" class="alert alert-warning mt-3">{{ mensajeI }}</div>

  <h2>Historico De Infracciones Por Propietario</h2>
  <form [formGroup]="consultaForm" (ngSubmit)="consultar()">
    <div class="form-group">
      <label for="identificacion">Identificación Del Propietario</label>
      <input
        type="text"
        class="form-control"
        formControlName="identificacion"
        id="identificacion"
        placeholder="Ingresa la identificacion del propietario"
        pattern="[0-9]*"
        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        maxlength="15"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="consultaForm.invalid"
    >
      Buscar
    </button>
  </form>
  <p></p>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Placa</th>
        <th>Nombre Del Propietario</th>
        <th>Fecha De La Infracción</th>
        <th>Impuesta Por</th>
        <!-- <th>Opciones</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of infraccionesPropietario">
        <td>{{ item.id }}</td>
        <td>{{ item.placa }}</td>
        <td>{{ item.propietario }}</td>
        <td>{{ item.fecha }}</td>
        <td>{{ item.accionadaPor }}</td>
        <!---
        <td>
          <button type="button" class="btn btn-success" (click)="editar(item)">
            Editar
          </button>
          <button
            type=" button"
            class="btn btn-danger"
            (click)="eliminar(item)"
          >
            Eliminar
          </button>
        </td>
    -->
      </tr>
    </tbody>
  </table>
</div>
