<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Registro De Salones</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="salonForm" (ngSubmit)="guardar()">
        <div class="form-group">
          <label for="codigoSalon">codigo Salon</label>
          <input
            type="text"
            class="form-control"
            formControlName="codigoSalon"
            id="codigoSalon"
            placeholder="Ingrese codigo del salon"
          />
        </div>
        <div class="form-group">
          <label for="nombre">Nombre salon</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            id="nombre"
            placeholder="Ingresa nombre del salon"
          />
        </div>
        <div class="form-group">
          <label for="ubicacion">ubicación del salon</label>
          <input
            type="text"
            class="form-control"
            formControlName="ubicacion"
            id="ubicacion"
            placeholder="Ingresa ubicación del salon"
          />
        </div>
        <div class="form-group">
          <label for="capacidad">Capacidad</label>
          <input
            type="text"
            class="form-control"
            id="capacidad"
            formControlName="capacidad"
            placeholder="Ingresa capacidad del salon"
          />
        </div>
        <div class="form-group">
          <label for="descripcion">Decripción</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            formControlName="descripcion"
            placeholder="Ingresa descripción del salon"
          />
        </div>
        <p></p>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="salonForm.invalid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>Salones registrados</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Codigo Salon</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Capacidad</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of salones">
        <td>{{ item.codigoSalon }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.ubicacion }}</td>
        <td>{{ item.capacidad }}</td>
        <td>{{ item.descripcion }}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="editar(item)">
            Editar
          </button>
          <button
            type=" button"
            class="btn btn-danger"
            (click)="eliminar(item)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
